/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: 'Droid Serif', serif
}
body {
  min-width: 1350px;
}
.image_count {
  text-align: center;
  font-size: 1.2em;
}

.left_box {
  float: left;
  width: 650px;
  min-height: 250px;
}

.spacer {
  width: 5px;
  display: inline-block;

}
.clear {
  clear: both;
}
.bottom {
  clear: both;
  margin-bottom: 30px;
}
.house_image {
  width: 640px;
}
.success {
  color: green;
  margin-top: 5px;
}
.failure {
  color: red;
  margin-top: 5px;
}
.hidden {
  display: none;
}
textarea {
  width: 500px;
  height: 100px;
}
.field {
  margin-bottom: 10px;
}
.google_map {
  width: 640px;
  height: 480px;
  frameborder: 0;
  border: 0;
  display: none;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}
.details {
  margin: 20px;
}
.line {
  margin-bottom: 5px;
}
a:visited, a:active {
  color: blue;
}
.center {
  text-align: center;
}
.right_push {
  margin-right: 10px;
}
.value {
  color: red;
}